/*   Y O U R   C S S   S T Y L E S

** Add your CSS styles here
** Style all markdown content elements properly
** Use the markdown test file to check it: https://github.com/typemill/typemill/blob/master/content/00-Welcome/03-Markdown-Test.md
** You can activate and use the Tachyons CSS library: https://typemill.net/theme-developers/helper-functions#activate-tachyons

*/

a.link, a.link:active, a.link:focus, a.link:hover, a.link:link, a.link:visited, li:hover {
	/* transition: all .15s ease-in; */
	transition: background-color 150ms ease, color 150ms ease;	
}

.minw1  {  min-width: 1rem; }
.minw2  {  min-width: 2rem; }
.minw3  {  min-width: 4rem; }
.minw4  {  min-width: 8rem; }
.minw5  {  min-width: 16rem; }
.minw6  {  min-width: 32rem; }
.minw7  {  min-width: 48rem; }
.minw8  {  min-width: 64rem; }
.minw9  {  min-width: 96rem; }

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.icon {
    top: 0.125em;
    position: relative;
}
.fx{
	font-size: 5em;
}
.custom-blue{
	color: #ABD1C9;
}
.bg-custom-blue{
	background-color: #ABD1C9;
}
.hover-bg-custom-blue:hover{
	background-color: #ABD1C9;
}
footer ul{
	padding: 0;
}
footer li{
	padding: 0;
	margin-left: 15px;
}
.awesomplete{
	width: 100%;
	margin: auto;
}
.awesomplete > ul{
	text-align: left;
	padding: 0.5em;
}
.awesomplete > ul > li{
	padding: .8em .8em;
}

/*********************
*  Content Elements  *
*********************/

footer a, footer a:link, footer a:visited,
article a, article a:link, article a:visited{
	text-decoration: none;
	color: #7FA59D;
}
footer a:active, footer a:focus, footer a:hover,
article a:active, article a:focus, article a:hover{
	text-decoration: underline;
}
article .list a:active, article .list a:focus, article .list a:hover{
	text-decoration: none;
}
article ul, article p, article blockquote, article pre, article table, article dl, article img{
	margin: 1.7em 0;
}
article ul, article ol{
	padding-left: 15px;
}
article ul li{
	list-style: none;
}
article ul li::before {
/*	content: "•"; */ 
	color: #000;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
	float:left;
}
pre,code{ 
	background-color: #333;
	color: #fff;
}
code{
	display: inline-block;
	padding: 0 0.5em;
	font-size: 0.8em; 
	line-height: 1.4em;	
	border-radius: 3px;	
	word-break: break-all;
}
pre{
	white-space: pre;
	padding: 16px;
	display: block;	
	max-width: 100%;
	overflow-x: auto;
	box-sizing: border-box;
}
pre > code{
	font-size: 0.8em;
}
code.hljs{ background: transparent; }
blockquote{
	position: relative;
	font-family: times new roman,serif;
	font-size: 1.8em;
	font-style: italic;
	z-index: 2;
}
blockquote:before {
	content: '\201C';
	position: absolute;
	top: -0.25em;
	left: -0.25em;
	color: #f4f4f4;
	font-size: 4em;
	z-index: -1;
	font-family: times new roman,serif;
	line-height: 1em;
}
table{
	width: 100%;
	border-collapse: collapse;
}
thead{
	border-bottom: 1px solid #f4f4f4;
	border-top: 1px solid #f4f4f4;
	background: #f4f4f4;
	font-weight: 700;
	text-align: left;
}
tbody{}
tr{}
tr:nth-child(odd){ }
tr:nth-child(even){ 
	background-color: #f4f4f4;
}
td,th{ padding: 5px;}
dl{
	border-top: 1px solid #f4f4f4;
	border-bottom: 1px solid #f4f4f4;
	padding: 0.5em 0;
	box-sizing: border-box;
}
dt,dd{
	width: 100%;
	margin: 0;
	padding: 3px 5px;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
}
dt{
	font-weight: 700;
}
dt::after{
	content: ":";
}
dd{
	width: 80%
}


/********************
*  IMAGES / FIGURES *
********************/

img, figure, figure img {
    max-width: 100%;
}
figure {
    display: table;
    margin: 2em auto;
    padding: 0;
}
figure.left {
    width: auto;
    float: left;
    margin: 0 2em 2em 0;
}
figure.right {
    width: auto;
    float: right;
    margin: 0 0 2em 2em;
}
figcaption {
    display: table-caption;
    caption-side: bottom;
    font-size: 0.8em;
    margin-top: .5em;
    line-height: 1.2em;
}
figure img {
    display: block;
    margin: auto;
}


/************************
*  	DOWNLOAD LINKS 		*
************************/

a.tm-download
{
	line-height: 35px;
	margin-left: 40px;
}
a.tm-download::before{
	content: '\2193';
	position: absolute;
	margin-left: -40px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	font-family: Calibri, "Segoe UI", Roboto, Courier, Helvetica, -apple-system, BlinkMacSystemFont, sans-serif, Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 1.3em;
	font-weight: 900;	
	border-radius: 50%;
	border: 2px solid;
	border-color: #ABD1C9;
	text-align: center;
	text-decoration: none;
}
a.tm-download:hover::before{
	text-decoration: none;
	color: #fff;
	background: #ABD1C9;
}

/************************
*  		NOTICE 			*
************************/

.notice1 {
    margin: 1em 0;
    padding: 10px 1em;
	background-color: #ffded4;
	border-left: 4px solid #f65a3c;    
}
.notice2 {
    margin: 1em 0;
    padding: 10px 1em;
	background-color: #fff3d4;
	border-left: 4px solid #f6b73c;    
}
.notice3,
.notice4,
.notice5,
.notice6 {
    margin: 1em 0;
    padding: 10px 1em;
    background-color: #d4e0ff;
    border-left: 4px solid #3c7bf6;	
}


/************************
*  	TABLE OF CONTENTS 	*
************************/

ul.TOC,.TOC ul{
	list-style: none;
	padding-left: 0px;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.TOC li:before{
	content: "\2192";
	margin-left: -7px;
	margin-right: 7px;
}
.TOC li.h1:before{
	content: "";
}
ul.TOC{
	background: #f4f4f4;
	width: 100%;
	padding: 20px;
	box-sizing:border-box;
}
li.h1{
	font-weight: 700;
	height: auto;
}
li.h2, li.h3, li.h4, li.h5, li.h6
{
	font-weight: 400;
	padding-left: 25px;	
	height: auto;
}


/*******************
* Headline anchors *
*******************/

h1,h2,h3,h4,h5,h6{
	position:relative;
}
a.tm-heading-anchor {
    position: absolute;
    top: 0;
	left: -0.8em;
	width: 0.8em;
	font-weight: 300;
    opacity: .5;
    text-decoration: none;
}
a.tm-heading-anchor:hover,a.tm-heading-anchor:focus {
    text-decoration: none;
}
h2:focus > .tm-heading-anchor, 
h2:hover > .tm-heading-anchor, 
h3:focus > .tm-heading-anchor, 
h3:hover > .tm-heading-anchor, 
h4:focus > .tm-heading-anchor, 
h4:hover > .tm-heading-anchor,
h5:focus > .tm-heading-anchor, 
h5:hover > .tm-heading-anchor,
h6:focus > .tm-heading-anchor, 
h6:hover > .tm-heading-anchor{
	opacity: 1;
	text-decoration: none;
}


/*******************
* youtube videos   *
*******************/

.video-container{
	position: relative;
	text-align: center;
}
img.youtube{
	position: relative;
	max-width: 560px;
}
button.play-video { 
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -50px;
	height: 100px;
	width: 100px;
	background: #e0474c;
	color: #FFFFFF;
	border-radius: 50%;
	border: 0px;
	padding: 0;
	text-align: center;
}
button.play-video:hover {
	background: #cc4146;
	cursor: pointer;
}
button.play-video::after {
	position: absolute;
	top: 50%;
	margin: -20px 0 0 -15px;
	height: 0;
	width: 0;
	border-style: solid;
	border-width: 20px 0 20px 40px;
	border-color: transparent transparent transparent rgba(255, 255, 255, 0.75);
	content: ' ';
}


@media only screen and (min-width: 30em) {
	.knowledgecover .awesomplete{
		width: 60%;
	}
}
@media only screen and (min-width: 60em) {
	dd{
		width: 80%;
	}
	dt{
		width: 19%;
		text-align: right;
	}
}