{% extends 'layout.twig' %}

{% block title %}ERROR 404: Page not found{% endblock %}

{% block content %}

<section class="w-100 bg-custom-blue pa3 pb5 pv6-l">

	<div class="mw8 center tc knowledgecover">

		<h1 class="f2 f1-l lh-copy fw3">Not Found</h1>
		<div class="f5 f4-l lh-copy black-70">
			<p>Sorry, but we did not find the page that you are looking for.</p>
		</div>
	</div>
</section>
{% endblock %}